#root{
    -fx-background-color: rgb(39, 38, 38);
}

#welcomLayout{
    -fx-font-family: Montserrat;
    -fx-font-size: 38px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

#close, #reduce, #home, #download{
    -fx-background-color: transparent;
    -fx-padding: 8px 12px;
    -fx-text-fill: white;
    -fx-font-family: Montserrat;
    -fx-font-size: 18;
    -fx-background-radius: 16px;
}

#reduce:hover, #home:hover, #close:hover, #download:hover{
    -fx-background-color: rgba(255, 255, 255, .2);
    -fx-cursor: hand;
}

#histView{
    -fx-font-size: 18px;
    -fx-font-family: Montserrat;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover{
    -fx-background-color: red;
    -fx-text-fill: white;
}
